.block {

    &_title {
        font-size: 36px;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        color: #ffffff;
        padding-bottom: 28px;
    }

    &_description {
        font-size: 18px;
        line-height: 13px;
        color: #bbbbbb;
    }
}