.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 180px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 4px; //компенсация нижнего отступа шрифта
    font-size: 13px;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid #6f6d7b;
    border-radius: 4px;
    line-height: 10px;

    &__accent {
        background: #3e9cdc;
        border-color: #ffffff;
        color: #ffffff;
    }

    &__order-form {
        height: 48px;
        font-size: 15px;
        font-weight: 500;
        width: calc(93% / 3);
        margin: 0px auto;
    }
}