.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 180px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 13px;
    text-transform: uppercase;
    background: #ffffff;
    border: 1px solid #6f6d7b;
    border-radius: 4px;
    line-height: 10px;

    &__accent {
        background: #3e9cdc;
        border-color: #ffffff;
        color: #ffffff;
    }
}