.list {
    list-style: none;

    &_item {


        &::before {
            content: '-';
            padding-right: 5px;
        }

        &:not(:last-child) {
            padding-bottom: 18px;
        }
    }
}