@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    src: url(/fonts/raleway/Raleway-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url(/fonts/lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: url(/fonts/lato/Lato-Semibold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 600;
    src: url(/fonts/lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url(/fonts/lato/Lato-Heavy.ttf) format('truetype');
}

@import 'header';
@import 'logo';
@import 'menu';

@import 'banner';
@import 'list';
@import 'button';
@import 'block';
@import 'order-block';
@import 'work-shema';
@import 'step';

@import 'form';
@import 'inputs';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #2a2b30;
    font-family: Lato;
}

.text {


    &-accent {
        color: #42a9ed;
    }
}