@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    src: url(/fonts/raleway/Raleway-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-weight: 500;
    src: url(/fonts/lato/Lato-Semibold.ttf) format('truetype');
}

@import 'header';
@import 'logo';
@import 'menu';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}